<p>show</p>
<h1><%= @restaurant.name %></h1>

<p>Address: <%= @restaurant.address %></p>

<p>Phone: <%= @restaurant.phone_number %></p>

<p>Category: <%= @restaurant.category %></p>

<%= simple_form_for [@restaurant, @review] do |f| %>
  <%= f.input :content%>
  <%= f.input :rating, collection: 0..5 %>
  <%= f.submit %>
<% end %>

<%= link_to "See all restaurants", restaurants_path %>
